In [40]:
import pandas as pd

In [83]:
data1=pd.read_csv("general_data.csv")

In [84]:

data1['Attrition'] = data1['Attrition'].replace(['Yes','No'],['1','0'])

In [85]:

data1['Attrition'] = data1['Attrition'].astype(int)

data1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [67]:
from scipy.stats import pearsonr

In [68]:
stats,p=pearsonr(data1.Attrition,data1.DistanceFromHome)

In [69]:
print(stats,p)

-0.009730141010179674 0.5182860428050771

In [70]:
stats,p=pearsonr(data1.Attrition,data1.Age)
print(stats,p)

-0.15920500686577965 1.996801615886744e-26

In [71]:
stats,p=pearsonr(data1.Attrition,data1.Education)
print(stats,p)

-0.015111167710968713 0.3157293177118575

In [72]:
stats,p=pearsonr(data1.Attrition,data1.EmployeeID)
print(stats,p)

-0.004729122995066087 0.7535487401886252

In [75]:
stats,p=pearsonr(data1.Attrition,data1.PercentSalaryHike)
print(stats,p)

0.03253259489105349 0.030743386433355353

In [76]:
stats,p=pearsonr(data1.Attrition,data1.StockOptionLevel)
print(stats,p)

-0.006838852403261513 0.6498072937475723

In [78]:
stats,p=pearsonr(data1.Attrition,data1.TrainingTimesLastYear)
print(stats,p)

-0.049430576244255 0.0010247061915365072

In [79]:
stats,p=pearsonr(data1.Attrition,data1.YearsAtCompany)
print(stats,p)

-0.1343922139899772 3.1638831224877484e-19

In [80]:
stats,p=pearsonr(data1.Attrition,data1.YearsSinceLastPromotion)
print(stats,p)

-0.03301877514258434 0.028330336189396753

In [62]:
stats,p=pearsonr(data1.Attrition,data1.YearsWithCurrManager)
print(stats,p)

-0.15619931590162847 1.7339322652896276e-25

In [ ]:
#document

- replaced the attrition value with 1 and 0

-then converted them to int from object thus we were able to do partial correlation bwtn attrition and other columns

-the correlation between
 --attrition and age 
    null hypothesis:there is a no siginificant difference between age and attrition
    alternative hypothesis:there is a siginificant diffrernece between age and attrition
        result:p<0.05 so reject the null hypothesis

In [ ]:
-the correlation between
 --attrition and DistanceFromHome
    null hypothesis:there is a no siginificant difference between DistanceFromHome and attrition
    alternative hypothesis:there is a siginificant diffrernece between DistanceFromHome and attrition
        result:p>0.05 so accept the null hypothesis

-the correlation between
 --attrition and Education
    null hypothesis:there is a no siginificant difference between Education and attrition
    alternative hypothesis:there is a siginificant diffrernece between Educationand attrition
        result:p>0.05 so accept the null hypothesis

-the correlation between
 --attrition and EmployeeID
    null hypothesis:there is a no siginificant difference between EmployeeID and attrition
    alternative hypothesis:there is a siginificant diffrernece between EmployeeID and attrition
        result:p>0.05 so accept the null hypothesis

-the correlation between
 --attrition and PercentSalaryHike
    null hypothesis:there is a no siginificant difference between PercentSalaryHike and attrition
    alternative hypothesis:there is a siginificant diffrernece between PercentSalaryHike and attrition
        result:p<0.05 so reject the null hypothesis

-the correlation between
 --attrition and StockOptionLevel
    null hypothesis:there is a no siginificant difference between StockOptionLevel and attrition
    alternative hypothesis:there is a siginificant diffrernece between StockOptionLevel and attrition
        result:p>0.05 so accept the null hypothesis

-the correlation between
 --attrition and TrainingTimesLastYear
    null hypothesis:there is a no siginificant difference between DistanceFromHome and attrition
    alternative hypothesis:there is a siginificant diffrernece between DistanceFromHome and attrition
        result:p<0.05 so reject the null hypothesis

-the correlation between
 --attrition and YearsAtCompany
    null hypothesis:there is a no siginificant difference between YearsAtCompany and attrition
    alternative hypothesis:there is a siginificant diffrernece between YearsAtCompany and attrition
        result:p<0.05 so reject the null hypothesis

-the correlation between
 --attrition and DistanceFromHome
    null hypothesis:there is a no siginificant difference between DistanceFromHome and attrition
    alternative hypothesis:there is a siginificant diffrernece between DistanceFromHome and attrition
        result:p<0.05 so reject the null hypothesis

-the correlation between
 --attrition and YearsSinceLastPromotion
    null hypothesis:there is a no siginificant difference between YearsSinceLastPromotion and attrition
    alternative hypothesis:there is a siginificant diffrernece between YearsSinceLastPromotion and attrition
        result:p<0.05 so reject the null hypothesis

-the correlation between
 --attrition and YearsWithCurrManager
    null hypothesis:there is a no siginificant difference between YearsWithCurrManager and attrition
    alternative hypothesis:there is a siginificant diffrernece between YearsWithCurrManager and attrition
        result:p<0.05 so reject the null hypothesis

# thus here we can conclude
there is siginificant difference bettween attrition 

andage,percentsalaryhike,TrainingTimesLastYear,yearsatcomapny,distancefromhome,yearssincelastpormotion,yearswithcurrmanager.

In [109]:
# import matplotlib.pyplot as plt
# plt.scatter(data1.PercentSalaryHike,data1.Attrition)