In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv("general_data.csv")

In [3]:
df.head(10)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5

In [4]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [5]:
df["NumCompaniesWorked"].mean()

2.6948303347756775

In [6]:
new_NumCompaniesWorked=np.where(df["NumCompaniesWorked"].isnull(),2,df["NumCompaniesWorked"])
df["NumCompaniesWorked"]=new_NumCompaniesWorked

In [7]:
label_encoder=preprocessing.LabelEncoder()
df["BusinessTravel"]=label_encoder.fit_transform(df["BusinessTravel"])
df["Attrition"]=label_encoder.fit_transform(df["Attrition"])
df["Department"]=label_encoder.fit_transform(df["Department"])
df["EducationField"]=label_encoder.fit_transform(df["EducationField"])
df["Gender"]=label_encoder.fit_transform(df["Gender"])
df["JobRole"]=label_encoder.fit_transform(df["JobRole"])
df["MaritalStatus"]=label_encoder.fit_transform(df["MaritalStatus"])

In [8]:
#locate x and y

In [9]:
x=df.iloc[:,df.columns!="Attrition"]

In [10]:
y=df.iloc[:,1:2]

# split the records for testing and training

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=2)

In [12]:
# random forest classifier
# predict_output.to_csv("output_assignment.csv",index=False)
y_train.columns

Index(['Attrition'], dtype='object')

In [13]:
x_train.columns
encoded_gender=label_encoder.fit_transform(df["Gender"])

In [14]:
label_encoder=preprocessing.LabelEncoder()

In [15]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=2)

In [16]:
features=['Age','Department', 'Education','EducationField', 'Gender', 'JobLevel','JobRole', 'MaritalStatus',
          'MonthlyIncome', 'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears', 'YearsAtCompany']

In [17]:
x_train["TotalWorkingYears"]=np.where(x_train["TotalWorkingYears"].isnull(),11,x_train["TotalWorkingYears"])

C:\Users\USER\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
rf_model.fit(X=x_train[features],y=y_train["Attrition"])

RandomForestClassifier(max_features=2, n_estimators=1000, oob_score=2)

In [19]:
print("oob accuracy")
print(rf_model.oob_score_)

oob accuracy
0.9876020562443302

In [20]:
for features,imp in zip(features,rf_model.feature_importances_):
    print(features,imp)

Age 0.1340375024299398
Department 0.03280872924251801
Education 0.05764068033959376
EducationField 0.052829385391650344
Gender 0.024729881874221052
JobLevel 0.0524461232041007
JobRole 0.07622489105476478
MaritalStatus 0.04502454244247
MonthlyIncome 0.14357029433313312
NumCompaniesWorked 0.07013145817856967
PercentSalaryHike 0.09360139109993139
TotalWorkingYears 0.11767198677968352
YearsAtCompany 0.09928313362942384

In [21]:
# Age,monthly income,TotalWorkingYears are the important independent varible 
new_TotalWorkingYears=np.where(df["TotalWorkingYears"].isnull(),11,df["TotalWorkingYears"])
df["TotalWorkingYears"]=new_TotalWorkingYears

# build Desicion tree

In [22]:
tree_model=tree.DecisionTreeClassifier()

In [23]:
tree_model.fit(X=pd.DataFrame(encoded_gender),y=df["Attrition"])

DecisionTreeClassifier()

In [24]:
predict=pd.DataFrame([df["Age"],df["MonthlyIncome"],df["TotalWorkingYears"]]).T

In [25]:
tree_model=tree.DecisionTreeClassifier(max_depth=6)

In [26]:
tree_model.fit(X=predict,y=df["Attrition"])

DecisionTreeClassifier(max_depth=6)

In [27]:
with open ("Attritiontree.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=["Age","MonthlyIncome","TotalWorkingYears"],out_file=f)

In [28]:
tree_model.score(X=predict,y=df["Attrition"])

0.8650793650793651

In [29]:
# df_test=pd.read_csv("titanic_eda/test.csv")
new_TotalWorkingYears=np.where(x_test["TotalWorkingYears"].isnull(),11,x_test["TotalWorkingYears"])
x_test["TotalWorkingYears"]=new_TotalWorkingYears

C:\Users\USER\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
test_features=pd.DataFrame([x_test["Age"],x_test["MonthlyIncome"],x_test["TotalWorkingYears"]]).T

In [31]:
test_predict=tree_model.predict(X=test_features)

In [32]:
predict_output=pd.DataFrame({"EmployeeID":x_test["EmployeeID"],"Attrition":test_predict})

In [36]:
predict_output.to_csv("output_Attrition.csv",index=False)

In [1]:
# points on the desicion tree